@import "tailwindcss";

@theme {
  /* Brand Colors */
  --color-brand-50: #EEEDFE;
  --color-brand-100: #CECBF6;
  --color-brand-200: #AFA9EC;
  --color-brand-400: #7F77DD;
  --color-brand-600: #534AB7;
  --color-brand-800: #3C3489;
  --color-brand-900: #26215C;

  /* Accent Colors */
  --color-accent-400: #1D9E75;
  --color-accent-600: #0F6E56;

  /* Fonts */
  --font-sans: "Inter", "sans-serif";
  --font-mono: "JetBrains Mono", "monospace";
}
